# LCDWiki 2.8" RPi Display
dtparam=spi=on
dtoverlay=mipi-dbi-spi,spi0-0,speed=32000000
dtparam=width=320,height=240
dtparam=width-mm=49,height-mm=37
dtparam=reset-gpio=27,dc-gpio=22
dtoverlay=lcdwiki-touch
